*{
    font-family: "Outfit", sans-serif;
}
header{
    background-color: #241468;
    color:bisque ;
}
header span{
    color:#F79BD3;
}
.nav-item a{
    color:#F79BD3;
}
.nav-item a:visited{
    color:#F79BD3;
   
}
.nav-item a:hover{
    color:#9F0D7F;
    
}

#nav-button{
    background-color: #9F0D7F;
}

.icon-habilidades{
    color: #241468;
    font-size: 2em;
}
.img-proyecto1{
   background-image: url('assets/clonPinterest.PNG');
   background-size: contain;
   background-repeat: no-repeat;
}
footer{
    background-color: #241468;
}
footer .icon-footer i{
    color:azure;
}
footer p{
    color: #F79BD3;
}
footer p a{
    color: #9F0D7F;
}

#app{
    color: #241468;
}